<header>
  <nav class="navbar navbar-light">
    <div id="nav-left" class="d-flex">
      <a class="navbar-brand">
        <h2>ToDo List</h2>
      </a>
      <div id="description">
        <h4>4 Incompleted Tasks</h4>
        <span>{{ date-format date }}</span>
      </div>
    </div>
    <div id="nav-right">
      <a href="index.html" class="active">Incomplete Tasks</a>
      <a href="completed_tasks.html">Completed Tasks</a>
    </div>
  </nav>
</header>